<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" required></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="submit()" [disabled]="loading">{{ loading ? 'Ingresando...' : 'Ingresar' }}</ion-button>

  <ion-text color="danger" *ngIf="error">{{ error }}</ion-text>
</ion-content>
